.table {
    margin-top: 20px;  
    overflow: scroll;
    color: #6a5d5d;
    background-color: white;
    height: 400px;
}

.table ul {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.table li {
    padding: 0.5rem;
}

.table ul:nth-of-type(odd) {
    background-color: #f3f2f8;
}

